html,body{height:100%;}
body{background: #ffffff;}

.header{background: #FDF3E6; width: 100%;}
.header_logo{color:red; float: left;}
.header_menu{float: right;margin: 0; padding: 0;}
.header_menu_item{display: inline-block;}
.header_menu_item a{color:#fff; display: block; padding: 2px;}
.header_menu_item a:hover{background: #000;}


.cover{height: 100%; border: 1px solid red;}
.cover{height: 70%; color: }





/*clearfix ci permette di far occupare all'header tutto l'ingombro disponibile altrimenti collassa*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
